{% extends 'base.html.twig' %}

{% block title %}Facture!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mb-4">Gestion facture :</h1>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <a href="/facture" ><button type="submit" class="btn btn-warning ps-4 pe-4"> Retour </button></a>
            </div>
        </div>
        {% for facture in fac %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="card-title">Facture n°{{idFac}}</h2>
                            <h2 class="card-title">Client : {% if facture.idAcheteur == null %} XXXX XXXX {% else %}{{facture.nom}} {{facture.prenom}}{% endif %}</h2> 
                        </div>
                        <div>
                            {% if facture.etat == 0 %}
                                <a href="/facture/gestion/fac_{{ idFac }}/modification" class="btn btn-primary me-2">Modification des lots associés</a>
                                <a href="/facture/gestion/fac_{{ idFac }}/client" class="btn btn-primary">Modification du client associé</a>
                                <a href="/facture/gestion/fac_{{ idFac }}/fermer" class="delete-facture btn btn-danger me-2">Fermer la facture</a>
                                <button class="btn btn-primary disabled">Envoie par mail</button>
                            {% else %}
                                <button class="btn btn-primary disabled me-2">Modification des lots associés</button>
                                <button class="btn btn-primary disabled">Modification du client associé</button>
                                <button class="btn btn-danger disabled me-2">Fermer la facture</button>
                                <a href="" class="btn btn-primary">Envoie par mail</a>
                            {% endif %}
                            <a href="/facture/gestion/fac_{{idFac}}/impression" target="_blank" class="btn btn-secondary">PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
