{% extends 'base.html.twig' %}

{% block title %}Facture!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mb-4">Gestion facture :</h1>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <a href="/facture/gestion/fac_{{idFac}}" ><button type="submit" class="btn btn-warning ps-4 pe-4"> Retour </button></a>
            </div>
        </div>
        {% for facture in fac %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="card-title">Facture n°{{idFac}}</h2>
                            <h2 class="card-title">{% if facture.idAcheteur == null %} XXXX XXXX {% else %}{% if facture.sexe == 'M' %} M. {% else %} Mme. {% endif %} {{facture.nom|upper }} {{facture.prenom|capitalize}}{% endif %}</h2> 
                            <h2 class="card-title">Date limite :
                                {% if facture.TypeDelai == null %} 
                                    XX/XX/XXXX 
                                {% else %} 
                                    {% if facture.TypeDelai == '1' %} 
                                        {{ facture.dateFacturation|date_modify('+15 days')|date('d-m-Y') }} | {{ facture.description }}
                                    {% else %} 
                                        {% if facture.TypeDelai == '2' %} 
                                            {{ facture.dateFacturation|date_modify('+30 days')|date('d-m-Y') }} | {{ facture.description }}
                                        {% else %} 
                                            {% if facture.TypeDelai == '3' %} 
                                                {{ facture.dateFacturation|date_modify('last day of next month')|date('d-m-Y') }} | {{ facture.description }}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                        </h2>
                        </div>
                        <div>
                            <form id="setTypeDelaiForm" name="setTypeDelaiForm" method="post">
                                <select name="setTypeDelaiFacture" id="setTypeDelaiFacture" class="mt-3 mb-3">
                                    <option value=""> ... </option>
                                    {% for d in Delai %}
                                        <option value="{{d.id}}">{{ d.description }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary" id="submitBtnSetTyepDelai" name="setTypeDelai">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
