{% extends 'base.html.twig' %}

{% block title %}Les Lots de la criée{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 id="date">Voici la liste des lots destinée l'équarrissage du </h1>
</div>
<div class="d-flex flex-row ps-5 justify-content-center col-10">
    <table class="table">
        <thead>
            <tr>
                <div class="p-2">
                    <th>Num Lots</th>
                </div>
                <div class="p-2">
                    <th>Nom du Bateau</th>
                </div>
                <div class="p-2">
                    <th>Espèce de poisson</th>
                </div>
                <div class="p-2">
                    <th>Poids du lots</th>
                </div>
                <div class="p-2">
                    <th>Code état</th>
                </div>
            </tr>
        <thead>
        <tbody class="text-align">
            {# {{ dump(equa) }} #}
            {% for var in equa %}
            <tr>
                <th>{{var.id}}</th>
                <th>{{var.nom}}</th>
                <th>{{var.asd}}</th>
                <th>{{var.poidsBrutLot}} Kg</th>
                <th>{{var.codeEtat}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var ladate=new Date()
    document.getElementById("date").innerHTML += ladate.getDate()+"/"+(ladate.getMonth()+1)+"/"+ladate.getFullYear() + " :";
</script>
{% endblock %}
